.main-carousel {
  @include make-container();
  position: static;
  @include media-breakpoint-up(lg) {
    width: 100%;
    padding: {
      left: var(--container-offset-lg);
      right: var(--container-offset-lg);
    }
  }
  @each $name, $breakpoint in $container-max-widths {
    @include media-breakpoint-up(#{$name}) {
      max-width: map.get($container-max-widths, #{$name});
    }
  }

  &.flickity-enabled {
    position: static;
  }
  .flickity-button {
    background: transparent;
    &:hover {
      background-color: transparent;
    }
  }
  .flickity-prev-next-button {
    width: 60px;
    height: 100px;
    padding: 0;
    @include media-breakpoint-down(xl) {
      display: none;
    }
    .flickity-button-icon {
      fill: $primary;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    &.previous {
      left: 0.5rem;
      @include media-breakpoint-custom(1500px) {
        left: 2.5rem;
      }
    }
    &.next {
      right: 0.5rem;
      @include media-breakpoint-custom(1500px) {
        right: 2.5rem;
      }
    }
  }
  .flickity-page-dots {
    position: relative;
    bottom: 0;
    margin-top: 2.3rem;
    @include media-breakpoint-up(xl) {
      @include make-col-ready();
      @include make-col(6);
      @include make-col-offset(6);
      justify-content: flex-start;
      margin-top: -12px;
      bottom: 0;
    }
    .dot {
      margin: {
        left: 0;
        right: 10px;
      }
      &.is-selected {
        background: $secondary;
      }
    }
  }
  .carousel-cell {
    .carousel-image {
      display: flex;
      img {
        width: 100%;
      }
    }
    .carousel-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      @include media-breakpoint-up(lg) {
        justify-content: flex-start;
        align-items: flex-start;
        padding-bottom: 1.5rem;
        // padding-top: 3.55rem;
      }
      h3 {
        margin-top: 1em * 2.35;
        margin-bottom: 1em * 1.45;
        @include media-breakpoint-up(lg) {
          margin-bottom: 1em * 1.6;
          margin-top: 1em * 2.58;
        }
      }
      p {
        @include media-breakpoint-up(lg) {
          margin-bottom: 1em * 2.5;
        }
        @include media-breakpoint-down(md) {
          line-height: calc(24 / 15);
        }
      }
    }
  }
}
